body {
	font-family: 'Nunito', sans-serif;
}
nav {
	font-size: 1.8em;
	float: left;
}
nav a {
	text-decoration: none;
	margin: 1.8em;
	display: inline-block;
}
#slogan {
	font-size: 2em;
}
#left {
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	padding: 20px;
	float: right;
	width: 60%;
}