@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Hind);
body {
	font-family: arial;
	background-color: #330013;
	font-size: 22px;
	color: white;
	text-align: center;
}
#slogan {
	font-style: italic;
}
h1 {
	font-family:'Fjalla One', sans-serif;
}
h3 {
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}
